.main {
  text-align: center;
  padding: 300px;
}
body {
  background-color: rgb(226, 226, 226);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.white {
  background-color: rgb(26, 24, 24);
}

h1 {
  color: rgb(71, 64, 50);
}
#space {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  color: rgb(71, 64, 50);
}

#input {
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  padding: 5px;
}
#button {
  border-radius: 10px;
  height: 55px;
  font-size: 30px;
}
